<!DOCTYPE html>
<html>
<head>
  <title>TODO KOTLIN</title>
</head>
<body>
  <h1>kotlin, todo!</h1>
  <form hx-post="/todos" hx-target="#container">
    <label>id</label>
    <input name="id" type="text" />
    <label>description</label>
    <input name="description" type="text" />
    <button type="submit">Add</button>
  </form>
  <div hx-get="/todos" hx-trigger="load">
    <p>Loading...</p>
  </div>
</body>
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</html>
